name: dispatch

on:
  push:
  release:
    types: [published]

jobs:
  dispatch:
    runs-on: ubuntu-latest

    steps:
      - name: dispatch trigger parent(s) repo bump
        run: |
          curl -X POST https://api.github.com/repos/billypchan/carthageDummyD/actions/workflows/repositoryDispatch.yaml/dispatches \
          -H 'Accept: application/vnd.github.everest-preview+json' \
          -u billypchan:${{ secrets.F_SECRET }} \
          --data '{"event_type": "ping", "client_payload": { "repository": "'"$GITHUB_REPOSITORY"'" }}'
           
